<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="x-apple-disable-message-reformatting">
    <!--PHOSPHOR ICONS-->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <style>
        /* CSS RESET */

        /* Counter ios default link styling */
        .ios-remove-link-styling a {
        color: inherit !important;
        text-decoration: none !important;
        }

        /* Box sizing rules */
        *,
        *::before,
        *::after {
        box-sizing: border-box;
        margin: 0; 
        padding: 0;
        }

        /* Prevent font size inflation */
        html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
        scroll-behavior: smooth;
        }

        /* Remove default margin in favour of better control in authored CSS */
        body, h1, h2, h3, h4, p,
        figure, blockquote, dl, dd {
        margin: 0;
        }

        li {
            list-style-position: inside;
        }

        /* Set core body defaults */
        body {
            font-family:'Roboto Flex', 'Segoe UI Variable Display', system-ui, sans-serif; word-spacing: normal;
        }

        /* Set shorter line heights on headings and interactive elements */
        h1, h2, h3, h4, {
            line-height: 1.3;
        }

        /* Balance text wrapping on headings */
        h1, h2,
        h3, h4 {
            text-wrap: balance;
        }

        p {
            line-height: 1.5;
        }

        /* A elements that don't have a class get default styles */
        a {
        color: currentColor;
        text-underline-offset: 0.3ex;
        }

        button { 
        cursor: pointer; 
        }

        /* Make images easier to work with */
        img,
        picture {
        max-width: 100%;
        display: block;
        }

        /* Inherit fonts for inputs and buttons */
        input, button,
        textarea, select {
        font: inherit;
        }

        /* Make sure textareas without a rows attribute are not tiny */
        textarea:not([rows]) {
        min-height: 10rem;
        }

        /* Anything that has been anchored to should have extra scroll margin */
        :target {
        scroll-margin-block: 5ex;
        }

        /* More consistent, styleable hr*/ 
        hr { 
        border-width: 1px 0 0 0; 
        color: inherit; 
        height: 0; 
        overflow: visible; 
        }

        *:focus-visible{ 
        outline: 0.1px ridge carmine; 
        filter: drop-shadow(0 0 2rem carmine); 
        }

        /* FIN DU CSS RESET */
        
        img {
            border-radius: 0.3rem;
        }

        .block {
            margin-top: 1rem;
        }

        .hover1{
            transition: all 0.3s ease;
        }
        .hover1:hover {
            padding-inline: 1rem;
            color: #f3eee2;
            background-color: #473e3e;
            border-radius: 0.2rem;
        }
        .flex-img{
            flex: 1 1 50%;
        }
    </style>

    <title>{{{ title }}}</title>
</head>
<body style="background-color:#f3eee2">
        {{{ content }}}
</body>
</html>