<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="x-apple-disable-message-reformatting">
    <style>
        /* CSS RESET */

        /* Counter ios default link styling */
        .ios-remove-link-styling a {
        color: inherit !important;
        text-decoration: none !important;
        }

        /* Box sizing rules */
        *,
        *::before,
        *::after {
        box-sizing: border-box !important;
        }

        /* Prevent font size inflation */
        html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
        scroll-behavior: smooth;
        }

        /* More consistent, styleable hr*/ 
        hr { 
        border-width: 1px 0 0 0; 
        color: inherit; 
        height: 0; 
        overflow: visible; 
        }

        h1, h2, h3, h4, p {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        p, a, li {
            font-size: 1.1rem;
        }
        strong{
            font-weight: 700;
            letter-spacing: 0.02rem;
        }
    </style>

    <title>{{{ title }}}</title>
</head>
<body>
        {{{ content }}}
</body>
</html>