<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"><!-- sait automatiquement que c'est dans le folder public car précisé dans app.js-->
    <!--PHOSPHOR ICONS-->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    {{{ body }}}
    <script>
  // This script will be executed when the form is submitted
  document.getElementById('myForm').addEventListener('submit', async function(event) {
    event.preventDefault();

    const data = {
        email: document.getElementById('form-email').value
    };
    console.log('Form data:', data);

    try {
      const response = await fetch('/subscribe', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });

      if (response.ok) {
        // Handle success, e.g., show a success message
        console.log('Subscribed successfully');
      } else {
        // Handle error, e.g., show an error message
        console.error('Error subscribing:', response.statusText);
      }
    } catch (error) {
      console.error('Error:', error);
    }
  });
</script>
</body>
</html>