
        <div class="container" style="background-color:#f3eee2; margin: 0 auto; color: #473e3e; padding: 1rem; max-width: 70ch;">
            <a href="http://localhost:3000/render?type=newsletter" target="_blank">Read this mail in your browser</a>
            <div class="title-block">
                <h1 class="hover1">The fictive brands newsletter</h1>
                <p style="margin-top: 1rem;">Dear {{firstname}} {{lastname}},</p>
                <p>In today's issue, we will review some of the best 35mm photos you can find, and the stories behind the pics.</p>
            </div>
            <div class="h2" style="margin-top: 2rem;">
                <h2 style="font-size: 3rem; font-weight: 500; letter-spacing: -0.01rem; background-color: #473e3e; color: #f3eee2; border-radius: 0.2rem; display: inline; padding: 0.3rem; opacity: 0.85;">Singapore</h2>
            </div>
            <div class="img-block" style="display: flex; column-gap: 1rem; margin-top: 1rem;">
                <div class="flex-img">
                    <img style="border-radius: 0.3rem;" src="cid:building1" alt="A picture of a San Francisco red mansion">
                </div>
                <div class="flex-img">
                    <img style="border-radius: 0.3rem;" src="cid:building2" alt="A picture of a San Francisco blue mansion">
                </div>
                
            </div>
            <div class="main-block" style="margin-top: 2rem;">
                <p>Shop-houses are records of Singapore's multicultural history. After its founding in 1819 by British politician and empire builder Stamford Raffles, <strong>the city grew into a powerful entrepôt</strong>, attracting merchants and traders from all over the world. They brought their architectural tastes with them, and left their mark on the shop-houses they inhabited. The dwellings in Joo Chiat were built by Peranakans, people of mixed Chinese and Malay descent who settled in Singapore and whose culture was a rich blend of Chinese, Malaysian, Indonesian, and European influences. Elsewhere in the city you can see shop-houses with Islamic latticework, rococo curlicues, Dutch gables, and French shutters.The richness of these buildings did not comport with my preconceptions, which I quickly realized were out of date. It is true that more than 50 percent of Singapore's old city was demolished by the march of modernity between the 1970s and 90s. It is also true that much of the urban sprawl has the flavorless internationalism of an airport terminal. But in the past decade Singapore has entered a more preservationist phase, with shop-houses being restored and renovated all over town—and snapped up at eye-watering prices.</p>
            </div>
            <a style="color: inherit; display: inline-block; text-decoration-color: #8b7643;" href="/unsubscribe">Unsubscribe</a>
        </div>