<div
  class="container"
  style="margin: 0 auto; color:#fcfcfc; max-width: 65ch; font-family:'Roboto Flex', 'Segoe UI Variable Display', system-ui, sans-serif; word-spacing: normal;"
>
  <a
    class="block"
    style="display: block; margin-top: 1rem; text-align: center; color: rgb(45, 45, 45);
        text-underline-offset: 0.3ex;"
    href="http://localhost:3000/render?type=newsletter"
    target="_blank"
  >Read this mail in your browser</a>
  <div
    class="block"
    style="margin-top: 1rem !important;
            background-color: #664700 !important;
            border-radius: 1.5rem !important;
            padding: 2rem !important;"
  >
    <h1
      style="margin-top: 0 !important; margin-bottom: 0 !important; font-size: 2rem; font-weight: 900; line-height: 1.2 !important; text-wrap: balance;"
    >
      Welcome to
      <span
        style="background-color: #fcfcfc; color:#664700; display: inline-block; padding-left: 0.4rem; padding-right: 0.4rem; margin-top: -0.1rem; margin-bottom: -0.1rem; border-radius: 0.3rem"
      >Feuillu</span>
      the website layouts newsletter !
    </h1>
    <p style="margin-top: 1rem !important; line-height: 1.5 !important;">Dear
      {{firstname}}
      {{lastname}},</p>
    <p style="line-height: 1.5">In today's issue we will review the <a style="color: inherit; text-underline-offset: 0.3rem; text-decoration-thickness: 0.2rem" href="https://studyhall.design/about">studyhall.design</a> website, a brutalist
      and minimalist homepage.</p>
  </div>

  <div
    class="img-block"
    style="overflow: hidden; margin-top: 1rem; border-top-left-radius: 1.5rem !important; border-top-right-radius: 1.5rem !important;"
  >
    <img
      style="max-width: 100%; object-fit: cover;
        display: block;"
      src="https://i.imgur.com/s6JoCmx.jpeg"
      alt="The studyhall.design website : short paragraphs depicting the team, using svg's, serif and a combination of black and green colors."
    />
  </div>
  <div
    class="block"
    style=" background-color: #664700 !important;border-bottom-left-radius: 1.5rem !important; border-bottom-right-radius: 1.5rem !important;  padding: 2rem !important;"
  >
    <p style="line-height: 1.5;"><strong>In short</strong> — An uncommon use of svg's, serif font, bicolor color scheme. </p>
    <p style="display: block; margin-top: 1rem !important; line-height: 1.5"><strong>Typography</strong> — The sans-serif is <a style="color: inherit; text-underline-offset: 0.2rem; text-decoration-thickness: 0.1rem" href="https://pangrampangram.com/products/neue-montreal">Neue Montreal</a>, a versatile Grotesque font with the spirit of a display font. It feels very modern and polished. The serif is <a style="color: inherit; text-underline-offset: 0.2rem; text-decoration-thickness: 0.1rem" href="https://www.grillitype.com/typeface/gt-alpina">GT ALPINA</a>, a font that resurrects old-style shapes (the V and the H are particulary impactful) and gives an aerian style to the page. Serif fonts works particularly well in italic like on this layout contrary to sans-serif that always feel weird when displayed in italic.</p>
    <p style="display: block; margin-top: 1rem !important; line-height: 1.5"><strong>SGV's</strong> — They seem to be handmade by the designers of the company. It works very well because they are simply added to the meaning of the sentences so the reader don't ask himself what they mean.Matching their color with the serif font and placing them in the same group make it more coherent. On the web, using symbols/icons allow simplicity and evocation rather than complexity.</p>
    <p style="display: block; margin-top: 1rem !important; line-height: 1.5"><strong>Colors</strong> — Only two colors are used : green and white. It feels brutal but works well with a dark background. Notice that the green is not neonesque or bright but an appeasing tone-green.</p>
    <p style="display: block; margin-top: 1rem !important; line-height: 1.5"><strong>Layout</strong> — The hero section come with a succession of left and right sided text. A rarely seen bold choice that allow to create breathing space and avoid redundancy.</p>
    <p style="display: block; margin-top: 1rem !important; line-height: 1.5"><strong>Cursor</strong> — The circle replacing the cursor is made through a library like <a style="color: inherit; text-underline-offset: 0.2rem; text-decoration-thickness: 0.1rem" href="https://github.com/Cuberto/mouse-follower">Cuberto's mouse follower</a>, it's a quite simple JS program that lets you manipulate the color, the shape, the offset, the delay... to create a custom made one. It always works well on creative website but would not recommend on most "classic" websites due to accessibility issues and impact on performance.</p>
  </div>
  <a
    class="block"
    style="display: block; margin-top: 1rem; text-align: center; color: rgb(45, 45, 45); text-underline-offset: 0.3ex;"
    href="http://localhost:3000/unsubscribe"
    target="_blank"
  >Unsubscribe from this newsletter</a>
</div>