<div
  class="container"
  style="margin: 0 auto; color:#fcfcfc; max-width: 60ch; font-family:'Roboto Flex', 'Segoe UI Variable Display', system-ui, sans-serif; word-spacing: normal;"
>
  <a
    class="block"
    style="display: block; margin-top: 1rem; text-align: center; color: rgb(45, 45, 45);
        text-underline-offset: 0.3ex;"
    href="http://localhost:3000/render?type=newsletter"
    target="_blank"
  >Read this mail in your browser</a>
  <div
    class="block"
    style="margin-top: 1rem !important;
            background-color: #664700 !important;
            border-radius: 1.5rem !important;
            padding: 2rem !important;"
  >
    <h1
      style="margin-top: 0 !important; margin-bottom: 0 !important; font-size: 2rem; font-weight: 900; line-height: 1.2 !important; text-wrap: balance;"
    >
      Welcome to
      <span
        style="letter-spacing:-0.04rem; font-family: serif; font-weight: 100; background-color: #fcfcfc; color:#465400; display: inline-block; padding-left: 0.4rem; padding-right: 0.4rem; margin-top: -0.1rem; margin-bottom: -0.1rem; border-radius: 0.3rem"
      >Feuillu</span>
      the website layouts newsletter !
    </h1>
    <p style="margin-top: 1rem !important; line-height: 1.5 !important;">Dear
      {{firstname}}
      {{lastname}},</p>
    <p>In today's issue we will review the studyhall.design website, a brutalist
      and minimal homepage.</p>
  </div>

  <div
    class="img-block"
    style="overflow: hidden; margin-top: 1rem; border-top-left-radius: 1.5rem !important; border-top-right-radius: 1.5rem !important;"
  >
    <img
      style="max-width: 100%; object-fit: cover;
        display: block;"
      src="https://i.imgur.com/s6JoCmx.jpeg"
      alt="The studyhall.design website : short paragraphs depicting the team, using svg's, serif and a combination of black and green colors."
    />
  </div>
  <div
    class="block"
    style=" background-color: #664700 !important;border-bottom-left-radius: 1.5rem !important; border-bottom-right-radius: 1.5rem !important;  padding: 2rem !important;"
  >
    <p><strong>In short</strong> — An uncommon use of svg's, serif font, bicolor color scheme. </p>
    <p><strong>Typography</strong> — A mix of </p>
  </div>
  <a
    class="block"
    style="display: block; margin-top: 1rem; text-align: center; color: rgb(45, 45, 45); text-underline-offset: 0.3ex;"
    href="http://localhost:3000/unsubscribe"
    target="_blank"
  >Unsubscribe from this newsletter</a>
</div>