<main class="container" id="subscribe-page">
    <section class="bento" id="title-bento">
        <h1>The <span style="background-color: var(--onprimary); color:var(--primary);padding-inline: 1rem;padding-block: 0.5rem; font-weight: 900; font-stretch: 100%; padding-bottom:0rem; border-radius: 0.3rem">Feuillu</span> newsletter</h1>
        <div class="divider"></div>
        <div id="title-bento-flex-bottom">
            <p>Feuillu is a newsletter unveiling insights of inspirational website layouts. It aims to provide a comprehensive view of web design, looking through typography, colours schemes, use of the latest CSS techniques, patterns, trends... Receive each month an email containing an inspirational website layout with a case study unveiling the insights behind the UI and ressources.</p>
            <div id="icon">
                <i class="ph ph-arrow-circle-up-right"></i>
            </div>
        </div>
    </section>
    <section class="bento" id="video-bento">
            <video id="video-showcase" autoplay muted loop playsinline src="images/video.mp4" alt="displaying the newsletter in a smartphone frame">
            </video>
    </section>
    <section class="bento" id="issues-bento">
        <h2>Past issues</h2>
        <div class="divider"></div>
        <ol id="issues-flexer">
            <li><time>15/10/23</time><div class="divider" id="issue-divider"></div><a target="_blank" href="/issue" id="issue-name">Studyhall</a></li>
        </ol>
    </section>
    <section role="region" class="bento" id="form-bento">
        <div id="form-bento-left">
            <img src="images/city.png" alt="">
        </div>
        <form id="myForm" method="POST" action="/subscribe">
            <div class="label-and-input">
                <label for="form-firstname">Firstname</label>
                <input autocomplete="on" type="text" id="form-firstname" name="firstname" required>
            </div>
            <div class="label-and-input">
                <label for="form-lastname">Lastname</label>
                <input autocomplete="on" type="text" id="form-lastname" name="lastname" required>
            </div>
            <div class="label-and-input">
                <label for="form-email">E-mail</label>
                <input autocomplete="on" type="email" id="form-email" name="email" required>
            </div>
                <button type="submit" id="submit-btn"><i class="ph ph-envelope"></i>Subscribe to the newsletter</button>
            </div>
            <nav role="navigation">
                <a id="unsubscribe-link" href="/unsubscribe">Want to unsubscribe ?</a>
            </nav>
        </form>
    </section>    
</main>
<script src="/javascripts/frontHandleSubscribe.js"></script><!-- sait automatiquement que c'est dans le folder public car précisé dans app.js-->
<script type="speculationrules">
{
  "prerender": [
    {
      "source": "list",
      "urls": ["unsubscribe"]
    }
  ]
}
</script>