<div class="container">
    <section class="subscribe-left">
        <h1>The <span class="italic-letters">Newsletter</span> of JJJJound</h1>
    </section>
    <section class="subrisribe-right">
        <form id="myForm" method="POST" action="/subscribe">
            <div class="flex-wrapper">
                <div class="lastname">
                    <label for="form-lastname">Lastname</label>
                    <input autocomplete="on" type="text" id="form-lastname" name="lastname" required>
                </div>
                <div class="firstname">
                    <label for="form-firstname">Firstname</label>
                    <input autocomplete="on" type="text" id="form-firstname" name="firstname" required>
                </div>
                <div class="email">
                    <label for="form-email">E-mail</label>
                    <input autocomplete="on" type="email" id="form-email" name="email" required>
                </div>
                <button type="submit" id="submit-btn"><p>Join</p><span class="italic-letters">Newsletter</span></button>
                </div>
            <a id="unsubscribe-link" href="/unsubscribe">Want to unsubscribe ?</a>
        </form>
    </section>
</div>
