<main class="container" id="subscribe-page">
    <section class="bento" id="title-bento">
        <h1>The <span style="font-family: 'Paysage-Black',serif; background-color: var(--onprimary); color:var(--primary); display: inline-block; padding-inline: 0.8rem; border-radius: 0.3rem">Feuillu</span> newsletter</h1>
        <div class="divider"></div>
        <div id="title-bento-flex-bottom">
            <p>Feuillu is a newsletter unveiling insights of inspirational website layouts. It aims to provide a comprehensive view of web design, looking through typography, colours schemes, use of the latest CSS techniques, patterns, trends...</p>
            <div id="icon">
                <i class="ph ph-arrow-circle-up-right"></i>
            </div>
        </div>
    </section>
    <section class="bento" id="image-bento">
        <img src="images/billboard.png" alt="">
    </section>
    <section class="bento" id="issues-bento">
        <h2>Past issues</h2>
        <div class="divider"></div>
        <ol id="issues-flexer">
            <li><time>18/09/23</time><div class="divider" id="issue-divider"></div><span id="issue-name">Arasaka</span></li>
            <li><time>13/08/23</time><div class="divider" id="issue-divider"></div><span id="issue-name">Militech</span></li>
            <li><time>05/07/23</time><div class="divider" id="issue-divider"></div><span id="issue-name">Kang Tao</span></li>
            <li><time>20/06/23</time><div class="divider" id="issue-divider"></div><span id="issue-name">Biotechnica</span></li>
        </ol>
    </section>
    <section role="region" class="bento" id="form-bento">
        <figure id="form-bento-left">
            <img src="images/city.png" alt="">
        </figure>
        <form id="myForm" method="POST" action="/subscribe">
            <div class="label-and-input">
                <label for="form-firstname">Firstname</label>
                <input autocomplete="on" type="text" id="form-firstname" name="firstname" required>
            </div>
            <div class="label-and-input">
                <label for="form-lastname">Lastname</label>
                <input autocomplete="on" type="text" id="form-lastname" name="lastname" required>
            </div>
            <div class="label-and-input">
                <label for="form-email">E-mail</label>
                <input autocomplete="on" type="email" id="form-email" name="email" required>
            </div>
                <button type="submit" id="submit-btn"><i class="ph ph-envelope"></i>Subscribe to the newsletter</button>
            </div>
            <nav role="navigation">
                <a id="unsubscribe-link" href="/unsubscribe">Want to unsubscribe ?</a>
            </nav>
        </form>
    </section>    
</main>
<script src="/javascripts/frontHandleSubscribe.js"></script><!-- sait automatiquement que c'est dans le folder public car précisé dans app.js-->
<script type="speculationrules">
{
  "prerender": [
    {
      "source": "list",
      "urls": ["unsubscribe"]
    }
  ]
}
</script>