<main class="container" id="unsub-page">
  <section id="unsub-hero-section">
    <div id="unsub-img">
      <img src="images/city.png" alt="" />
    </div>
  </section>
  <section role="region" id="unsub-bentos-section">
    <div id="unsub-title">
      <h1>The Fictional brands newsletter</h1>
    </div>
    <div class="bento" id="unsub-form-bento">
      <form id="unsubscribe-form" method="POST" action="/unsubscribe">
        <h2>Want to unsubscribe ?</h2>
        <div class="label-and-input">
          <label for="unsubscribe-email">E-mail</label>
          <input
          autocomplete="on"
          type="email"
          id="unsubscribe-email"
          name="email"
          required
          />
        </div>
        <button type="submit" id="unsubscribe-btn">
          <i class="ph ph-hand-waving"></i>
          <div class="inner-btn">
            <span>Unsubscribe from Newsletter</span>
          </div>
        </button>
      </form>
    </div>
    <nav class="bento" id="unsub-backtosubscribe-bento">
      <i class="ph ph-arrow-circle-left"></i>
      <a id="link-go-to-subscribe" href="/subscribe">Go back to subscription page</a>
    </nav>
    <div class="bento" id="unsub-content-bento">
      <h2>Past issues</h2>
        <div class="divider"></div>
        <ol id="issues-flexer">
            <li><time>18/09/23</time><div class="divider" id="issue-divider"></div><span id="issue-name">Arasaka</span></li>
            <li><time>13/08/23</time><div class="divider" id="issue-divider"></div><span id="issue-name">Militech</span></li>
            <li><time>05/07/23</time><div class="divider" id="issue-divider"></div><span id="issue-name">Kang Tao</span></li>
            <li><time>20/06/23</time><div class="divider" id="issue-divider"></div><span id="issue-name">Biotechnica</span></li>
        </ol>
    </div>
  </section>
</main>
<script
  src="/javascripts/frontHandleUnsub.js"
></script><!-- sait automatiquement que c'est dans le folder public car précisé dans app.js-->
<script type="speculationrules">
{
  "prerender": [
    {
      "source": "list",
      "urls": ["subscribe"]
    }
  ]
}
</script>