{{#block "content"}}
        <div class="container" style="font-family:'Roboto Flex', 'Segoe UI Variable Display', system-ui, sans-serif; word-spacing:normal; background-color:#f3eee2; margin: 0 auto; color: #473e3e; padding: 1rem; max-width: 70ch;">
            <div class="title-block">
                <h1 class="hover1" style="font-size: 3rem; letter-spacing: -0.05rem;">
                    <i class="ph ph-hands-clapping"></i>
                    Welcome to the fictive brands newsletter
                </h1>
                <p style="margin-top: 1rem;">Dear {{firstname}} {{lastname}},</p>
                <p>Thank you for subscribing. Expect one mail per month !</p>
            </div>
            <div style="margin-top: 1rem;">
                <p>If you're in the mood, here's some of my favourite case studies :
                    <ol>
                        <li><a href="https://fictionalbrandsarchive.com/item.php?id=104">Arasaka</a></li>
                        <li><a href="https://fictionalbrandsarchive.com/item.php?id=105">Militech</a></li>
                        <li><a href="https://cyberpunk.fandom.com/wiki/Kang_Tao">Kang Tao</a></li>
                    </ol>
                </p>
            </div>
            <div style="margin-top: 1rem;">
                <p>
                    <i class="ph ph-hands-praying"></i>
                    Please whitelist this email adress. It prevents the emails to going to spam !
                </p>
            </div>
            <div style="margin-top: 1rem;">
                <p>
                    The best place to stay up-to-date with my content is my <a href="https://twitter.com/teotimepacreau">Twitter</a> where I share quick tips relative to :
                    <ul>
                        <li>UI</li>
                        <li>Javascript</li>
                        <li>SQL</li>
                    </ul>
                </p>
            </div>
            <a style="color: inherit; text-decoration-color: #8b7643;" href="/unsubscribe">Unsubscribe</a>
        </div>
{{/block}}