<div
  class="container"
  style="margin: 0 auto; color:#fcfcfc; max-width: 60ch; font-family:'Roboto Flex', 'Segoe UI Variable Display', system-ui, sans-serif; word-spacing: normal;"
>
  <a
    class="block"
    style="font-size: 1rem; opacity: 0.8;display: block; margin-top: 1rem; text-align: center; color: rgb(45, 45, 45);
        text-underline-offset: 0.3ex;"
    href="http://localhost:3000/render?type=welcomeemail"
    target="_blank"
  >Read this mail in your browser</a>
  <div
    class="block" style="margin-top: 1rem !important;
            background-color: #465400 !important;
            border-radius: 1.5rem !important;
            padding: 2rem !important;"
  >
    <h1 style="margin-top: 0 !important; margin-bottom: 0 !important; font-size: 2rem; font-weight: 900; line-height: 1.2 !important; text-wrap: balance;">
      Welcome to <span style="background-color: #fcfcfc; color:#465400; display: inline-block; padding-left: 0.4rem; padding-right: 0.4rem; margin-top: -0.1rem; margin-bottom: -0.1rem; border-radius: 0.3rem">Feuillu</span> the newsletter decrypting website design trends !
    </h1>
    <p style="margin-top: 1rem !important; line-height: 1.5 !important;">Dear {{firstname}} {{lastname}},</p>
    <p>Thank you for subscribing. Expect one mail per month containing an inspirational website layout with a case study unveiling the insights and the methods behind the UI. It also comes with three webdesign ressources that I (or others) find useful.</p>
  </div>
  <div class="block" style="margin-top: 1rem !important; background-color: #664700 !important;border-radius: 1.5rem !important; padding: 2rem !important;">
    <h2 style="margin-top: 0 !important; margin-bottom: 0 !important; font-size: 1.5rem; font-weight: 700; line-height: 1.2 !important; text-wrap: balance;">Insights of the latest web design trends</h2>
    <p style="margin-top: 1rem !important; line-height: 1.5 !important;">
      We will look through typography, colours schemes, use of the latest CSS techniques, patterns...
      If you're in the mood, here are some of the latest case studies :
      <ol>
        <li style="list-style-position: inside !important;"><a style="color: inherit; text-underline-offset: 0.3ex;" target="_blank" href="https://fictionalbrandsarchive.com/item.php?id=104">The study.hall brutalist and colorful website</a></li>
      </ol>
    </p>
  </div>
  <div class="block" style="margin-top: 1rem !important; background-color: #00537c !important;
  border-radius: 1.5rem !important; padding: 2rem !important;">
    <p style="line-height: 1.5 !important;">
      Please whitelist this email adress. It prevents the emails to going to
      spam !
    </p>
    <p style="line-height: 1.5 !important;">
      The best place to stay up-to-date with my content is my
      <a style="color: inherit; text-underline-offset: 0.3ex;" href="https://twitter.com/teotimepacreau">Twitter</a>
      where I share quick tips relative to :
      <ul>
        <li style="list-style-position: inside !important;">UI</li>
        <li style="list-style-position: inside !important;">CSS</li>
        <li style="list-style-position: inside !important;">Javascript</li>
      </ul>
    </p>
  </div>
  <a
    class="block"
    style="font-size: 1rem; opacity: 0.8;display: block; margin-top: 1rem; text-align: center; color: rgb(45, 45, 45); text-underline-offset: 0.3ex;"
    href="http://localhost:3000/unsubscribe"
    target="_blank"
  >Unsubscribe from this newsletter</a>
</div>