/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove default list styles */
ul, ol, li {
  list-style: none;
}

/* Set core body defaults */
body {
  text-rendering: optimizeLegibility;
}    

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}
    
/* A element that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
    
/* Make images easier to work with */
img,
picture {
  max-width: 100%; /* img should never overflow past the available space*/
  display: block; /* avoid blank bottom*/
  height: auto;/*preserve aspect ratio*/
}

/* More consistent, styleable hr*/
hr {
  border-width: 1px 0 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
  color: inherit;
}

/* More space above the underline */
a {
  text-underline-offset: 0.2ex;
}

:root {
  --bg10: oklch(10% 0.4 37);
  --bgaccent: oklch(10% 1.1 150);
  --bgshadow: oklch(9% 0.4 37 / 30%);
  --body: oklch(95% 0.03 37);
  --body98: oklch(90% 0.03 37);
  --orange: oklch(70% 0.3 85);
  --grey60: oklch(50% 0 0 / 60%);
  --grey80: oklch(50% 0 0 / 80%);
  --rythme: 1rlh;
}
body{
  font-family: "LibreCaslonCondensed-Regular";
  background-color: var(--bg10);
  color: var(--body);
  min-height: 100%;
}

.container {
  padding: calc(3*var(--rythme));
}

#subscribe-page {
  display: flex;
  flex-wrap: wrap;
  gap: calc(3*var(--rythme));
}

#subscribe-page > * {
  flex: 1 1 500px;
}

@font-face {
  font-family: "LibreCaslonCondensed-Regular";
  src: local("LibreCaslonCondensed-Regular"),
  url("../fonts/LibreCaslonCondensed-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "LibreCaslonCondensed-Italic";
  src: local("LibreCaslonCondensed-Italic"),
  url("../fonts/LibreCaslonCondensed-Italic.woff2") format("woff2");
}

h1 {
  font-size: 6rem;
  font-family: "LibreCaslonCondensed-Regular", serif;
  line-height: 1.4;
  font-weight: 100;
  letter-spacing: -0.02rem;
}

.italic-letters {
  font-family: "LibreCaslonCondensed-Italic", serif;
}

#myForm {
  width: clamp(300px, 60% - 5vw ,60%);
  margin-inline: auto;
  font-family: 'Syne', sans-serif;
  font-weight: 100;
  background-color: var(--body);
  color: var(--bg10);
  padding-block: calc(2*var(--rythme));
  padding-inline: calc(1.2*var(--rythme));
  border-radius: 0.3rem;
  box-shadow: -2px 2px 4px 4px var(--bgshadow);
}
.flex-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--rythme);
}

.flex-wrapper > * {
  display: flex;
  flex-direction: column;
  gap: calc(0.1*var(--rythme));
}

#myForm label {
  font-size: 1.7rem;
  font-weight: 100;
  letter-spacing: -0.02rem;
}
#myForm input {
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid var(--bgaccent);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: var(--bgaccent);
}

#myForm input:focus, textarea:focus, select:focus{
  outline-width: 0.1ex;
  outline-style: ridge;/*follow the border without white px*/
  outline-color: var(--bgaccent);
}

#submit-btn{
  box-shadow: -1px 1px 4px 2px var(--bgshadow);
  display: flex;
  flex-wrap: nowrap;
  font-family: "LibreCaslonCondensed-Regular";
  font-size: 2rem;
  background-color: var(--bgaccent);
  color: var(--body);
  font-weight: 100;
  min-width: calc(0.5*var(--rythme));
  cursor: pointer;
  border: 0.1ex solid;
  border-color: transparent;
  padding: 1ex 2ex;/*hauteur des minuscules souvent appelée hauteur "x" lowercase*/
  border-radius: 0.6rem;
  transition: background-color 0.3s ease-out;
}
#submit-btn > *{
  margin-left: auto;
}

#submit-btn p {
  font-weight: 600;
}
#submit-btn:hover {
  background-color: var(--body);
  color: var(--bgaccent);
  border-color: var(--bgaccent);
}

button:focus {
  outline-width: 0.1ex;
  outline-offset: 0.2ex;
  outline-style: solid;
  outline-color: var(--bgaccent);
  transition: all 0.3s ease-out;
}

i:hover{
  color: var(--accent);
}
#unsubscribe-link{
  display: inline-block;
  margin-top: calc(0.5*var(--rythme));
  color: var(--grey60);
  text-underline-offset: 0.4ex;
}
#unsubscribe-link:hover{
  background-color: var(--body98);
  padding: 0.5ex;
  transition: all 0.3s ease-out;
  border-radius: 0.3rem;
  color: var(--grey80);
}
/* NOTIF TO CONFIRM THAT USER HAS SUCCESSFULLY SENT FORM */
.notif {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  position: absolute;
  right: var(--rythme);
  bottom: var(--rythme);
  font-family: "Syne", sans-serif;
  padding: calc(0.5*var(--rythme));
  border-radius: 0.3rem;
  animation: fade 0.6s ease-out;
  box-shadow: -2px 2px 5px 0px var(--boxshadow);
  transition: all 0.3s ease-out;
}

.subscribed-successfully {
  background-color: var(--body);
  color: var(--bg10);
}

@keyframes fade {
  from {
    opacity: 0;
    translate: 100px;
    transform: scale(0.1);
    filter: brightness(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.email-already-exists {
  background-color: var(--orange);
  color: var(--body);
}

/* UNSUBCRIBE */
#unsubscribe-container {
  max-width: 50%;
  margin-top: calc(3*var(--rythme));
  padding: var(--rythme);
  background-color: var(--body);
  color: var(--bg10);
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: calc(3*var(--rythme));
  font-family: "Syne", sans-serif;
  border-radius: 0.3rem;
}

#unsubscribe-container .ph-envelope-open {
  padding-left: calc(2*var(--rythme));
  font-size: calc(6*var(--rythme));
  align-self: center;
}

#unsubscribe-container form {
  grid-column: 2 / 3;
}

#unsubscribe-form input:focus, textarea:focus, select:focus{
  outline-width: 0.1ex;
  outline-style: ridge;/*follow the border without white px*/
  outline-color: var(--bgaccent);
}

#unsubscribe-container h2 {
  text-wrap: balance;
}

#unsubscribe-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#unsubscribe-container-right button {
  margin-top: var(--rythme);
}

#unsubscribe-email-section {
  margin-top: var(--rythme);
  display: flex;
  flex-direction: column;
  gap: calc(0.25*var(--rythme));
  max-width: max-content;
}


#unsubscribe-email-section input {
  appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid var(--bgaccent);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: var(--bgaccent);
}

#unsubscribe-btn {
  box-shadow: -1px 1px 2px 0.5px var(--bgshadow);
  display: flex;
  gap: 1ch;
  font-size: 1rem;
  align-items: center;
  background-color: var(--bgaccent);
  color: var(--body);
  font-weight: 100;
  min-width: calc(0.5*var(--rythme));
  cursor: pointer;
  border: 0.1ex solid;
  border-color: transparent;
  padding: 1ex 2ex;/*hauteur des minuscules souvent appelée hauteur "x" lowercase*/
  border-radius: 0.3rem;
  transition: background-color 0.3s ease-out;
}

#unsubscribe-btn:hover {
  background-color: var(--body);
  border-color: var(--bgaccent);
  color: var(--bgaccent);
  font-weight: 700;
}

